/* Agregar una fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #1e1e1ecd; /* Cambiar color de fondo a oscuro */
}

header {
    width: 100%;
    height: 100vh; /* Ajustar a la mitad de la altura de la ventana */
    background-image: url('../img/portada.jpg');
    background-size: cover;
    background-position: center;
}

.ofertas {
    color: #74EE4A;
}

.navbar {
    background: rgba(255, 255, 255, 0);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}

.upper-navbar {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.navbar-brand img {
    width: 120px;
    height: auto;
}

.envios {
    flex-grow: 1;
    text-align: right;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #323131;
    color: white;
    padding: 11px;
    padding-right: 20px; /* Ajustar según necesidades */
}

.lower-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 17px;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.nav-item {
    margin-right: 20px;
    padding: 10px;
}

.nav-item::before {
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-weight: 500;
    position: relative;
    border-radius: 15px;
    padding: 8px;
    position: relative;
}

.nav-link::before,
.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #74EE4A; /* Color del "laser" */
    transition: width 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8); /* Agregar sombra blanca */
}

.nav-link::before {
    top: 0;
    left: 0;
}

.nav-link::after {
    bottom: 0;
    right: 0;
}

.nav-link:hover::before,
.nav-link:hover::after {
    width: 100%;
    box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.8);
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: max-content;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: calc(100% + 5px);
    left: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
}

.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 1001;
}

.dropdown-item {
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    display: block;
}

/* Estilos de los botones */
.button-container {
    display: flex; /* Agregado para usar flexbox */
    justify-content: center; /* Opcional: para centrar los botones horizontalmente */
    text-align: center;
    margin-top: auto; /* Coloca los botones al final del contenedor */
}

.flyer-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.flyer-button img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.flyer-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 2px #74EE4A; /* Efecto de resplandor azul */
}

/* Estilos del texto en el flyer */
.text-container {
    position: absolute;
    left: 19%; /* Ajustar la posición horizontal */
    top: 60%; /* Ajustar la posición vertical */
    transform: translate(-50%, -50%);
    text-align: left; /* Alinear el texto a la izquierda */
}

.static-text {
    font-size: 50px; /* Tamaño grande */
    font-weight: bold;
    color: white; /* Color blanco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agregado sombreado */
}

.dynamic-text {
    font-size: 50px; /* Tamaño grande */
    font-weight: bold;
    color: #FF5733; /* Cambiado a un tono naranja */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agregado sombreado */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: max-content;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    bottom: calc(100% + 5px); /* Cambia la posición a partir de la parte inferior */
    left: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    animation: dropdown-animation 0.3s; /* Cambia la dirección de la animación */
}

@keyframes dropdown-animation {
    from {
        transform: translateY(-10px); /* Cambia la dirección de la animación */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* Cambia la dirección de la animación */
        opacity: 1;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 1001;
}

/* Estilos de los enlaces dentro del menú desplegable */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a.whatsapp-link {
    color: #ffffff; /* Color del texto */
    font-family: 'Roboto', sans-serif; /* Tipo de fuente */
    font-weight: 500; /* Grosor de la fuente */
    text-decoration: none; /* Quitar subrayado */
}

.dropdown-content a.whatsapp-link:hover {
    color: #ffffff; /* Color del texto al pasar el mouse */
}

.dropdown:hover .dropdown-content {display: block;}

.button-container button img {
    width: 40px;
    height: 30px;
}

.button-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Altura deseada de la barra */
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro transparente */
    z-index: 1; /* Asegura que la barra esté detrás de los botones */
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    flex-basis: 31%;
    background-color: #323131; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.859); /* Ajuste de la sombra */
    margin-bottom: 20px;
}

.card h2 {
    font-family: 'Roboto', sans-serif; /* Tipografía estética */
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.card p {
    font-family: 'Roboto', sans-serif; /* Tipografía estética */
    font-size: 16px;
    line-height: 1.6;
}

.testimonials-section {
    background-color: #e2e2e2; /* Fondo blanco */
    margin: 10px;
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    border-radius: 15px;
}

.testimonials-section h2{
    font-family: 'Roboto', sans-serif; /* Tipografía estética */
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.testimonials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espacio entre las tarjetas y la franja de testimonios */
}

.testimonials-container img {
    width: 245px; /* Ancho de las imágenes de testimonios */
    height: auto;
    margin: 0 10px; /* Espacio entre las imágenes */
    border-radius: 5px;
}

/* Estilos del pie de página */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background-color: #323131; /* Color de fondo oscuro */
}

.footer-links a,
.social-icons a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    border-radius: 15px;
    padding: 8px;
    transition: color 0.3s; /* Transición de color */
}

.footer-links a::before,
.footer-links a::after,
.social-icons a::before,
.social-icons a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #74EE4A; /* Color del "laser" */
    transition: width 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8); /* Agregar sombra blanca */
}

.footer-links a::before,
.social-icons a::before {
    top: 0;
    left: 0;
}

.footer-links a::after,
.social-icons a::after {
    bottom: 0;
    right: 0;
}



.footer-links a:hover::before,
.footer-links a:hover::after,
.social-icons a:hover::before,
.social-icons a:hover::after {
    width: 100%;
    box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.8);
}

#countdown {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #00FF00;
    text-shadow: 0px 0px 3px #000000;
  }
