/* Agregar una fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size:small; */
}

body {
    overflow-x: hidden;
    background-color: #000000;
    /* Cambiar color de fondo a oscuro */
}

header {
    width: 100%;
    height: 110vh;
    /* Ajustar a la mitad de la altura de la ventana */
    background-image: url('../../img/portada\ gamer2.jpg');
    background-size: cover;
    background-position: center;
}

.ofertas {
    color: #33A8DD;
}

.navbar {
    background: rgba(255, 255, 255, 0);
    height: 5em;
    padding: 0.625em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}


.upper-navbar {
    display: flex;
    align-items: center;
    padding-left: 0.3125em;
}

.navbar-brand img {
    width: 12em;
    height: auto;
}

.envios {
    flex-grow: 1;
    text-align: right;
    height: 2.5em;
    margin-left: 0.625em;
    border-radius: 0.9375em;
    background-color: #323131;
    color: white;
    padding: 0.6875em 1.25em 0.6875em 0;
}

.lower-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 0.625em;
    margin-right: 0.3125em;
    padding: 0 0.3125em 0 1.0625em;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.nav-item {
    margin-right: 1.25em;
    padding: 0.625em;
}

.nav-item::before {
    content: '';
    position: absolute;
    height: 18.75em;
    width: 18.75em;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    color: #ffffff;
    text-shadow: 0.0625em 0.0625em 0.125em rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-weight: 500;
    position: relative;
    border-radius: 0.9375em;
    padding: 0.5em;
}

.nav-link::before,
.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.125em;
    background-color: #33A8DD;
    transition: width 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 0.625em 0.125em rgba(255, 255, 255, 0.8);
}

.nav-link::before {
    top: 0;
    left: 0;
}

.nav-link::after {
    bottom: 0;
    right: 0;
}

.nav-link:hover::before,
.nav-link:hover::after {
    width: 100%;
    box-shadow: 0 0 1.25em 0.125em rgba(255, 255, 255, 0.8);
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: max-content;
    background-color: #ffffff;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
    z-index: 2000;
    top: calc(100% + 5px);
    left: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
}

.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 1001;
}

.dropdown-item {
    padding: 0.625em 1.25em;
    color: #333;
    text-decoration: none;
    display: block;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonera{
    position: relative;
    top: 30em;
    z-index: 1000;
}

.flyer-button {
    background-color: transparent;
    border: 0.0625em solid transparent;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    top: 0.5em;
}

@keyframes highlight {
    0% {
        box-shadow: 0 0 0 0 rgb(51, 168, 221);
        /* Sin sombra */
    }

    50% {
        box-shadow: 0 0 10px 10px rgba(0, 255, 0, 0);
        /* Agranda la sombra */
    }

    100% {
        box-shadow: 0 0 0 0 rgb(51, 168, 221);
    }
}

.flyer-button img {
    width: 3.4375em;
    height: 3.125em;
    object-fit: contain;
    border-radius: 50%;
    margin: 0 0.9375em;
    cursor: pointer;
    animation: highlight 3s infinite;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: max-content;
    background-color: transparent;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
    z-index: 1000;
    bottom: calc(100% + 5px);
    left: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    animation: dropdown-animation 0.3s;
}

@keyframes dropdown-animation {
    from {
        transform: translateY(-0.625em);
        /* Cambia la dirección de la animación */
        opacity: 0;
    }

    to {
        transform: translateY(0);
        /* Cambia la dirección de la animación */
        opacity: 1;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 1001;
}


.dropdown-content a.whatsapp-link {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0.1875em;
    margin: 0.1875em;
    background-color: rgb(148, 145, 145);
}

.dropdown-content a.whatsapp-link:hover {
    color: #ffffff;
    border: 0.0625em solid #33A8DD;
    box-shadow: 0 0 0.625em 0.125em rgba(255, 255, 255, 0.8);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.status p {
    color: rgb(106, 106, 106);
    position: relative;
    bottom: 1.875em;
    left: 18.75em;
}

.online {
    color: rgb(15, 220, 15);
}

.offline {
    color: rgb(167, 0, 0);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro semi-transparente */
}

.modal-content {
    background-color: #323131;
    margin: 15% auto;
    padding: 1.25em;
    border: 0.0625em solid #888;
    width: 80%;
    max-width: 37.5em;
    border-radius: 0.625em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
}

.modal-header,
.modal-footer {
    padding: 0.625em 0;
    border-bottom: 0.0625em solid #ccc;
    text-align: center;
}

.modal-header {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.modal-form {
    text-align: left;
}

.modal-form label {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    margin: 0.625em 0 0.3125em;
}

.modal-form input[type="text"],
.modal-form input[type="email"],
.modal-form input[type="password"] {
    width: 100%;
    padding: 0.3125em;
    margin: 0.3125em 0 0.625em;
    border: 0.0625em solid #ccc;
    border-radius: 0.3125em;
    box-sizing: border-box;
}

.modal-form button[type="submit"] {
    background-color: #33A8DD;
    color: #ffffff;
    border: none;
    padding: 0.625em 1.25em;
    margin-top: 0.625em;
    border-radius: 0.3125em;
    cursor: pointer;
}

.modal-form button[type="submit"]:hover {
    background-color: #1E90FF;
}

.button-bar {
    position: absolute;
    bottom: 0.3125em;
    left: 0;
    width: 100%;
    height: 4.375em;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    color: rgb(229, 225, 225);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.slider {
    width: 100vw;
    background-color: white;
    height: auto;
    margin: auto;
    overflow: hidden;
    border: 0.1875em solid #33A8DD;
    /* box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8); */
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(12.5em * 11);
}

.slider .slide {
    display: flex;
    align-items: center;
    margin: 0.625em;
    width: 12.5em;
}

.slider .slide img {
    width: 90%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-12.5em * 4));
        -webkit-transform: translateX(calc(-12.5em * 4));
    }
}


.panel {
    display: flex;
    justify-content: space-around;
    padding: 1.25em;
    color: white;
    font-family: 'Roboto', sans-serif;
}



.column p {
    text-align: center;
    font-size: small;
    color: #9e9c9c;
}

.circle {
    width: 3.75em;
    height: 3.75em;
    background-color: rgb(148, 145, 145);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.625em;
    border: 0.1875em solid #33A8DD;
    box-shadow: 0 0 0.625em 0.125em rgba(255, 255, 255, 0.5);
}

.circle img {
    width: 2.5em;
    height: 2.5em;
}

/* Estilos del pie de página */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 1.25em;
    background-color: #323131;
}

.footer-links a,
.social-icons a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    border-radius: 0.9375em;
    padding: 0.5em;
    transition: color 0.3s;
}

.footer-links a::before,
.footer-links a::after,
.social-icons a::before,
.social-icons a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.125em;
    background-color: #33A8DD;
    transition: width 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 0.625em 0.125em rgba(255, 255, 255, 0.8);
}

.footer-links a::before,
.social-icons a::before {
    top: 0;
    left: 0;
}

.footer-links a::after,
.social-icons a::after {
    bottom: 0;
    right: 0;
}

.footer-links a:hover::before,
.footer-links a:hover::after,
.social-icons a:hover::before,
.social-icons a:hover::after {
    width: 100%;
    box-shadow: 0 0 1.25em 0.125em rgba(255, 255, 255, 0.8);
}

.abrirMenu{
    display: none;
    color: #33A8DD;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    margin-left: 0.625em;
    font-size: 1.2em;
}

.cerrarMenu{
    display: none;
    color: #33A8DD;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    padding: 0.625em;
}

@media (max-width: 768px) {

    .upper-navbar{
        display: flex;
        justify-content: space-between;
    }

    .navbar-brand img{
        width: 100%;
        height: 5em;
    }

    .lower-navbar{
        height: 100%;
        display: flex;
        justify-content: end;
    }

    .abrirMenu{
        display: block;
    }

    .cerrarMenu{
        display: flex;
        /* justify-content: right; */
        position: relative;
        top: 1.25em;
    }

    .navbar-nav {
        opacity: 0;
        visibility: hidden;
        z-index: 2000;
    
        position: absolute;
        flex-direction: column;
        bottom: 0.3125em;
        top: 0em;
        right: 0;
        overflow-y: hidden;
        align-items: end;
        background-color: #1c1c1c;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        transition: opacity 0.5s ease, visibility 0.5s ease;
    }    

    .navbar-nav .visible{
        opacity: 1;
        visibility: visible;
    }

    * {
        overflow-x: hidden;
    }

    header, .navbar, .envios, .upper-navbar{
        overflow-y: hidden;
    }

    .envios{
        display: none;
    }

    .botonera{
        position: relative;
        top:47em;
        
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        width: max-content;
        max-height: 18.75em;
        background-color: #ffffff;
        box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
        z-index: 2000;
        top: calc(100% + 0.3125em);
        left: 0;
        white-space: nowrap;
    }
    

    .flyer-button {
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 50%;
        cursor: pointer;
    
    }
    
    .dropdown:hover .dropdown-menu {
        display: flex;
        position: relative;
    }
    
    .dropdown-item {
        padding: 0.3125em;
        text-align: left;
        font-size: 0.875em;
    }
    
    
    .dropdown-content {
        position: static;
        width: 100%;
        box-shadow: none;
        overflow-x: hidden;
    }
    
    .dropdown-content a.whatsapp-link {
        display: flex;
        width: 100%;
        text-align: center;
    }

    .button-container {
        overflow-y: hidden;
        display: flex;
        justify-content: space-around;
        z-index: 1000;
    }

    .dropdown {
        position: relative;
        display: flex;
        overflow-y: hidden;
    }

    .flyer-button img {
        /* animation: none; */
    }

    .button-bar {
        top: 51.875em;
    }

    .productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 1.25em;
    }

    .panel {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .column{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0.625em 0;
    }

    .footer-container{
        display: block;
    }

    .social-icons{
        display: flex;
        justify-content: space-around;
    }

}